@model IEnumerable<NoNameHotel.Models.Client>

@{
    ViewData["Title"] = "Payment";
}

<div class="content">
    <h2>Make payment</h2>

    <h3>Price: @ViewBag.Price USD</h3>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="cvetelina@abv.bg">
        <input type="hidden" name="lc" value="BM">
        <input type="hidden" name="item_name" value="Reservation">
        <input type="hidden" name="item_number" value="1">
        <input type="hidden" name="amount" value=@ViewBag.Price>
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="button_subtype" value="services">
        <input type="hidden" name="no_note" value="0">
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynowCC_LG.gif:NonHostedGuest">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
</div>