@{
    ViewData["Title"] = "Home Page";
}

<div class="parallax-img" >
    <h2 class="paralax-header">
        We offer you the best<br>
        luxury hotel<br>
        with an impressive history
    </h2>
  <a asp-area="" asp-controller="Home" asp-action="Contact" class="paralax-button" title="Read more" class="btn btn-primary btn-large btn-inline " target="_self">Read more</a>
    <img src="~/parallax-img.jpg">
</div>
<div class="headers">
    <h2 >Welcome to our site!</h2>
    <h3>
        Enjoy our relaxing warm ambiance<br>
        during your vacation !
    </h3>
</div>
